body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}
  
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    height: 75px;
}

header h1 {
    text-align: center;
    align-items: center;
}
  
.jumbotron {
    text-align: center;
    font-family: 'Mochiy Pop P One';
    align-items: center;
    background-color: transparent;
    color: rgb(236, 150, 150);
    border-radius: 0;
    border-bottom: 10px solid rgb(255, 137, 137);
}
  
.container p {
    font-family: 'Mochiy Pop P One';
}

.description {
    white-space: pre-wrap;
}
  
.time-block {
    text-align: center;
    border-radius: 15px;
}
  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}
  
.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
}
  
.past {
    background-color: #56e6ff;
    color: grey
}
  
.present {
    background-color: #ff6961;
    color: grey
}
  
.future {
    background-color: #77dd77;
    color: grey
}
  
.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #690b1e;
    color: rgb(255, 137, 137);
}
  
.saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
  
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: light palevioletred;
    margin-top: 20px;
    color: rgb(255, 137, 137);
    font-family: 'Mochiy Pop P One';
}